- var ICON = "icons/favicon.ico";
- var CSS = "main.a873567c294c371b65d4.css";
- var TITLE = "YelpCamp: Campsites";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug
    include ../lib/header.pug
    if (success && success.length)
      .alert.alert-success.alert-dismissible.fade.show(role="alert")
        strong #{success}
        button.close(type="button" data-dismiss="alert" aria-label="Close") 
          span(aria-hidden="true") &times;
    .container.my-5.pt-5
      each record in data 
        .card.mb-3
          .row 
            .col-md-4  
              img.img-fluid(src=record.image alt="campsite") 
            .col-md-8 
              .card-body 
                h5.card-title #{record.title}
                p.card-text #{record.description}
                p.card-text 
                  small.text-muted #{record.location}
                a.btn.btn-primary(href='/campsites/'+record._id) View #{record.title}
    include ../lib/footer.pug 
