- var ICON = "../icons/favicon.ico";
- var CSS = "../main.a873567c294c371b65d4.css";
- var FORM = "../form-validation.js";
- var TITLE = "YelpCamp: Camp Detail";
html(lang="en")
  include ../lib/head.pug 
  body
    include ../lib/vendor.pug 
    script(src=FORM) 
    include ../lib/header.pug 
    .row.d-flex.justify-content-center.m-auto.mb-5.pb-5 
      .col-4.pt-5  
        .card.mt-3.mb-3    
          img.card-img-top(src=record.image.url alt="campsite")
          .card-body
            h3.card-title #{record.title} 
            p.card-text #{record.description}              
            p.card-text.text-right.text-primary #{record.author.username}: #{record.author.email}
          ul.list-group.list-group-flush 
            li.list-group-item 
              span.text-muted #{record.location}
            li.list-group-item $#{record.price}.00
          if (user && token == adminToken)
            .card-body  
              a.card-link.btn.btn-warning(href="/campsites/"+record._id+"/edit" role="button") Edit
              form.d-inline(action="/campsites/"+record._id+"?_method=DELETE" method="post") 
                button.btn.btn-danger.my-2.my-sm-0(type="submit") Delete 
      .col-4.mt-3.pt-5
        if (user)
          h2 Leave a Review 
          form.mb-3.validated-form(action="/campsites/"+record._id+"/reviews", method="post" novalidate) 
            .mb-2
              textarea#body.form-control(name="review[body]", cols="30", rows="3" required)
              .valid-feedback 
                  p Looks good!
              .invalid-feedback 
                p This field is required
            .mb-2
              fieldset.starability-basic 
                legend Rating 
                input#no-rate.input-no-rate(type="radio" name="review[rating]" value="0" checked aria-label="No rating.")
                label(for="rate1" title="Terrible") 1 star
                input#rate1(type="radio" name="review[rating]" value="1")
                label(for="rate2" title="Not good") 2 stars
                input#rate2(type="radio" name="review[rating]" value="2")
                label(for="rate3" title="Average") 3 stars
                input#rate3(type="radio" name="review[rating]" value="3")
                label(for="rate4" title="Very good") 4 stars
                input#rate4(type="radio" name="review[rating]" value="4")
                label(for="rate5" title="Amazing") 5 stars
                input#rate5(type="radio" name="review[rating]" value="5")
            button.btn.btn-success(type="submit") Submit 
          hr
          if (success && success.length)
            .alert.alert-success.alert-dismissible.fade.show(role="alert")
              strong #{success}
              button.close(type="button" data-dismiss="alert" aria-label="Close") 
                span(aria-hidden="true") &times;
          if (error && error.length)
            .alert.alert-danger.alert-dismissible.fade.show(role="alert")
              strong #{error}
              button.close(type="button" data-dismiss="alert" aria-label="Close") 
                span(aria-hidden="true") &times;
          .pt-3 
            each review in record.reviews
              .card.mb-3 
                .card-body
                  h5.card-title #{review.author.username}
                  p.starability-result.mb-3(data-rating =review.rating) Rated: #{review.rating} stars 
                  p.card-text #{review.body}
                  if (token == adminToken)
                    form(action="/campsites/"+record._id+"/reviews/"+review._id+"?_method=DELETE", method="post") 
                      button.btn.btn-sm.btn-danger Delete 
    include ../lib/footer.pug 
