html(lang="en")
  head
    meta(charset="UTF-8")
    title Edit Page
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../../icons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../../icons/favicon.ico" type="image/x-icon")
    link(href="../../main.710abf4c7592553fc7f8.css" rel="stylesheet")
  body
    script(src="../../form-validation.js")   
    include header.pug 
    .container.my-5.pt-5 
      div 
        a(href="/campsites/"+record._id) Back to Campsite
      form.validated-form(action="/campsites/"+record._id+"?_method=PUT", method="post" novalidate) 
        .mb-3 
          label.form-label(for="title") Title
          input.form-control(type="text" id="title" name="campsite[title]" value=record.title required)
          .valid-feedback 
              p Looks good!
          .invalid-feedback 
              p This field is required 
        .mb-3 
          label.form-label(for="image") Image URL
          input.form-control(type="text" id="image" name="campsite[image]" value=record.image required)
          .valid-feedback 
              p Looks good!
          .invalid-feedback 
              p This field is required 
        .mb-3 
          label.form-label(for="price") Price
          .input-group 
              span.input-group-text(id="price-label") $
              input.form-control(type="text" id="price" name="campsite[price]" value=record.price required)
              .valid-feedback 
                p Looks good!
              .invalid-feedback 
                p This field is required 
        .mb-3 
          label.form-label(for="description") Description
          textarea.form-control(cols="30", rows="5" type="text" id="description" name="campsite[description]" required) #{record.description}
          .valid-feedback 
            p Looks good!
          .invalid-feedback 
            p This field is required 
        .mb-3  
          label.form-label(for="location") Location
          input.form-control(type="text" id="location" name="campsite[location]" value=record.location required)
          .valid-feedback 
            p Looks good!
          .invalid-feedback 
            p This field is required 
        button.btn.btn-info(type="submit") Update Campsite
    include footer.pug 