html(lang="en")
  head
    meta(charset="UTF-8")
    title Campsites
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="icons/favicon.ico" type="image/x-icon")
    link(href="main.710abf4c7592553fc7f8.css" rel="stylesheet")
  body
    include header.pug
    .container.my-5.pt-5   
      each record in data 
        .card.mb-3
          .row 
            .col-md-4  
              img.img-fluid(src=record.image alt="campsite") 
            .col-md-8 
              .card-body 
                h5.card-title #{record.title}
                p.card-text #{record.description}
                p.card-text 
                  small.text-muted #{record.location}
                a.btn.btn-primary(href='/campsites/'+record._id) View #{record.title}
    include footer.pug 
