html(lang="en")
  head
    meta(charset="UTF-8")
    title Show Page
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="../icons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../icons/favicon.ico" type="image/x-icon")
    link(href="../main.710abf4c7592553fc7f8.css" rel="stylesheet")
  body 
    include header.pug 
    .col-6.offset-3.pt-5  
      .card.mt-3.mb-5   
        img.card-img-top(src=record.image, alt="campsite")
        .card-body
          h3.card-title #{record.title} 
          p.card-text #{record.description}
        ul.list-group.list-group-flush 
          li.list-group-item 
            span.text-muted #{record.location}
          li.list-group-item $#{record.price}.00
        .card-body  
          a.card-link.btn.btn-warning(href="/campsites/"+record._id+"/edit" role="button") Edit
          form.d-inline(action="/campsites/"+record._id+"?_method=DELETE" method="post") 
            button.btn.btn-danger.my-2.my-sm-0(type="submit") Delete 
    include footer.pug 